.box {
  height: 70vh;
  width: 60%;
}

.bg-img {
  background-image: url("./img/academy-celebration.jpg");
}

.icons-home {
  font-size: 5em;
}

.title-card {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.title-card:hover {
  text-decoration: none;
  color: rgb(97, 96, 96);
}
